
<footer>
  <div class="footer-content">
    <p>&copy; <%= new Date().getFullYear() %> SiteSavvy. Όλα τα δικαιώματα διατηρούνται.</p>
    <div class="socials">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>

  <button id="toTopBtn" title="Πήγαινε Πάνω">⬆️</button>
</footer>