<nav class="responsive-navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="/">SiteSavvy</a>
    </div>
    <div class="burger" id="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul class="nav-links" id="navLinks">
      <li><a href="/">Αρχική</a></li>
      <li><a href="/privacy-policy" target="_blank">Πολιτική Απορρήτου</a></li>
      <li><a href="/admin/login">Admin</a></li>
      
    </ul>
  </div>
</nav>
