<nav class="responsive-navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="/">SiteSavvy</a>
    </div>
    <div class="burger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul>
      <li><a href="/">Αρχική</a></li>
      <li><a href="/templates">Templates</a></li>
      <li><a href="/pricing">Τιμές</a></li>
      <li><a href="/contact">Επικοινωνία</a></li>
      <li><button id="themeToggle">🌓</button></li>
    </ul>
  </div>
</nav>