
<% layout('layout') -%>


<form id="appointmentForm">
  <input type="text" name="name" placeholder="Όνομα" required>
  <input type="email" name="email" placeholder="Email" required>
  <textarea name="message" placeholder="Μήνυμα" required></textarea>
  
  <input type="date" name="date" id="date" required>
  <select name="time" id="time" required>
    <option value="">Επέλεξε ώρα</option>
  </select>

  <button type="submit">Κλείσε Ραντεβού</button>
</form>

<script src="/scripts/contact.js" defer></script>

