<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8" />
  <title>Αρχική | SiteSavvy</title>
</head>

  <%- include("partials/header", { title: "Αρχική" }) %>
<main>
  <h1>Καλώς ήρθες στο SiteSavvy!</h1>
  <p>Κατασκευάζουμε επαγγελματικές ιστοσελίδες με templates και δυναμικές υπηρεσίες.</p>
</main>
<%- include("partials/footer") %>

</body>
</html>
